.planetPic{
    height: 585px;
    width: 1281px;
}

.PlanetContent {
    /* margin-top: 10px;
    margin-bottom: 10px;
    background-color: red; */
}

#modalPics{
    height: 300px;
    width: 350px;
}

#planetCard{
    margin-top: -40px;
}

