<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LoginPopup</title>



    <!-- materialize css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </link>
    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- materilaize js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <style>
        a.btn {
            margin-top: 5%;
        }

        input[type="submit"] {
            width: 100%;
            margin-top: 5px; 
        }

        
        .modal-close {
            position: absolute;
            top: 5px;
            left: 10px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>


<body class="white">

    <div class="container center">
            
        <a href="#login" class="btn btn-large teal modal-trigger">Login</a>
           

        <div class="modal" id="login">
    
            <h4>Login Form</h4><br>

            
            <form action="#">


            <!-- materialize model script -->
            <script>
                $(document).ready(function () {
                    $('.modal').modal()
                });
            </script>


            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input type="text" id="username">
                <label for="username">Username</label>
            </div><br>

            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="pass">
                <label for="pass">Password</label>
            </div><br>

            <div class="form-field">
                <input type="checkbox" id="check">
                <label for="check">Remember me</label>
            </div><br>

            <div class="form-field">
                <button class="btn-large waves-effect waves-dark" style="width:100%;">Login</button>
               
            </div><br>

            <div class="modal-footer">
                <a href="#!"class="modal-close btn teal">close</a>
            </div>
                
                     
            
            </form>
        </div>
      </div>

     </div>
    </body>
</html>
